@import 'tailwindcss';
@plugin 'daisyui';

@font-face {
  font-family: 'Noto Sans SC';
  src: url('/fonts/NotoSansCJKsc-Regular.otf') format('opentype');
}

@theme {
  --font-chinese: 'Noto Sans SC', system-ui, sans-serif;
}
